.container {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 350px;
    height: 550px;
    border: 3px solid black;
    border-radius : 6px;
    padding: 30px;
}
.display {
    width: 350px;
    height: 150px;
    background-color: grey;
    border-radius : 10px;
}
.body {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 650px;
    padding: 10px;
}

button {
    padding:25px;
    font-size: 20px;
}
/*.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    align-items: center;
    height: 650px;
    width: 400px;
}
.operators {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
button {
    padding:30px;
}
*/